@media only screen and (min-height : 900px) and (max-height : 1081px){

        .left-menu .logo{
            padding-bottom: 25px;
        }
        .left-menu .contactblock{
            padding: 25px 0;
        }
        .left-menu .rights{
            padding: 25px 0;
        }
        .left-menu .navbar ul li a{
            padding: 25px 0;
        }
}
@media only screen and (max-height : 801px) and (max-height : 900px){

        .left-menu .logo{
            padding-bottom: 0;
        }
        .left-menu .contactblock{
            padding: 5px 0;
        }
        .left-menu .rights{
            padding: 5px 0;
        }
        .left-menu .navbar ul li a{
            padding: 14px 0;
        }
}
@media only screen and (max-height : 768px) and (max-height : 800px){

        .left-menu .logo{
            padding-bottom: 0px;
        }
        .left-menu .contactblock{
            padding: 5px 0;
        }
        .left-menu .rights{
            padding: 5px 0;
        }
        .left-menu .navbar ul li a{
            padding: 10px 0;
        }
}
@media only screen and (min-width : 1024px){
    .menu{
        left: 0;
    }
    .icon-menu, .icon-close{
        display: none;
    }
    .main-content{
        width: 79%;
    }
}

